<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MenuOn - Início</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="home-container">
      <h1>Bem-vindo ao <span>MenuOn!</span></h1>
      <div class="btn-group">
        <a href="/login" class="btn">Login</a>
        <a href="/cadastro" class="btn">Cadastrar-se</a>
      </div>
    </div>
  </body>
</html>
